/* global */

body { margin:0; color: #999999; font-family: "Verdana", "Microsoft Yahei", "Sans"; }
a:link, a:visited { text-decoration: none; color:#0066cc; }
a:hover, a:active { text-decoration: underline; color:#ff3300; }

/* layout */

h1.center-logo { 
    text-align: center; margin:10px 0 0 0; padding:0; height:180px;
    background: url('../images/logo_150.png') center top no-repeat; }
h1.center-logo span { position: relative; top: 110px; }

.home-logo { background:#0099cc; color:#FFF; border-radius: 0 0 10px 10px;
    text-align: left; margin:0 0 10px 0; padding:0.5em 1em 0.5em 1em;
    font-size: 30px;}
#nav-top { position:absolute; float: right; width: 1000px; text-align: right; top:25px;  }
#nav-top ul { list-style: none; margin: 0; padding:0; }
#nav-top ul li { display:inline-block; margin-right: 3em; padding:0; color: #efefef; }
#nav-top a { color: white; font-weight: bold; }

.body-center { width: 1000px; margin: 0 auto 10px auto; }
.column { display:table-cell; text-align: left; vertical-align: top;
          border: solid #efefef 1px; padding:10px;  }
#column-profile { width:280px; background: #efefef; border-radius: 10px 0 0 10px; }
#column-content { border-radius: 0 10px 10px 0; }

.footer { width: 1000px; margin: 20px auto 10px auto;
          border-top: solid 1px #efefef; text-align: center; }
.footer ul { padding:0; margin: 1em; list-style: none; }
.footer ul li { display: inline; margin: 0; padding: 0 1em 0 1em;
                border-right: solid 1px #ddd; }
.footer ul li:last-child { border:none !important; }


/* profile */

#profile { padding:10px; margin:0; }
#profile #avatar { 
    display: inline-block; margin-right:20px; width: 100px; height:100px;
    border: solid 2px #ddd;  border-radius: 5px;
    background:white url('../images/logo_150.png') center no-repeat; float:left; }
#gamer-info { clear: both; margin:2em 0 0 0; padding:0;  }
#gamer-info ul { margin: 1em 1em 2em 1em; padding: 0; list-style: none; }
#gamer-info ul li { margin: 5px; padding: 0;  }
#gamer-info .title { border-bottom: solid 1px #ddd; margin:0; padding: 0; }
/* features */

#login-form form {
    display: inline-block; padding:20px 40px 20px 40px; font-size: 24px; background-color: #99ccff;
    border-radius: 20px; color: #666; border:solid 1px #DDD;
}
#login-form form h2 { text-align: center; margin: 5px; padding:0; }
#status-update button,
.textbox {
    font-size:28px; color: #666; letter-spacing: 2px;
    border: 1px solid #88BBEE; font-family: "Verdana";
}
#login-form input, #login-form button {
     margin:0.5em 0.5em 0em 0.5em; padding: 0.3em; 
}
#status-update textarea {

}

#status-update button,
#login-form button { padding:0.2em 1em 0.2em 1em; background: #AADDFF; border-radius:10px;}
#status-update-input { width:90%; }

#profile #nickname { }

ul.toolbox { display: block; list-style: none; padding:0; margin: 1em 0 0 0; }
ul.toolbox li { display: block; }

ul#status-list { list-style:none; padding: 0; margin:1em 0 0 0;}
ul#status-list li { display: block; margin: 0; padding: 1em;
                    border-top:solid 1px #efefef;}
ul#status-list li .status-content { }
ul#status-list li .status-user { font-weight: bold; margin-right: 1em; }
ul#status-list li .status-date { font-size: 70%; display:block; margin-top: 1em; }
